html {
    font-size: 13px;
}

body {
    margin: 0;
}

nav {
    height: 10vh;
    width: 100vw;
    background-color: #474853;
    font-size: 2.353em;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

a {
    color: #f1e9db;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
}
h1 {
    font-family: 'Special Elite', cursive;
    font-size: 5.535em;
    margin-top: 5ch;
    text-align: center;
    font-weight: 900;   
    color: #f1e9db;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    margin-top: 5ch;
    text-align: center;
    font-weight: 900;   
    color: #f1e9db;
}

p {
    color: #f1e9db;
    font-family: 'Merriwether', serif;
    font-size: 1.769em;
}

footer {
    background-color: #474853;
    text-align: center;
    height: 4vh;
    padding: 2vh;
}

.created{
    color: #f1e9db;
    font-family: 'Special Elite', cursive;
    font-size: 1.0em;
    margin: 0;
    
}

.name {
    text-align: center;    
}

/* This applies to pages with single images */
.content {
    text-align: left;
    color: #f1e9db;
    width: 70vw;
    margin-left: 5ch;
    margin-right: 5ch;
    margin-top: 40ch;
}

/* This applies to pages with two images */
.content2 {
    text-align: left;
    color: #f1e9db;
    width: 70vw;
    margin-left: 5ch;
    margin-right: 5ch;
    margin-top: 15ch;
}


/* This applies to pages with single images */
.photo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 9.5vh;
}

/* This applies to pages with two images */
.photos {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5ch;
    
}
/*
.first-picture, second-picture {
    margin: 0;
}*/

/*.overlay {position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #b3d9ff;
          opacity: .8;
          overflow: hidden;
          height: 0;
          transition: .5s ease;}*/

.overlay {position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #b3d9ff;
          opacity: .8;
          overflow: hidden;
          height: 0;
          transition: height .5s ease;}


.text {white-space: auto; 
      color: black;
      font-size: 20px;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
}

.photo:hover .overlay {
    height: 90vh;
}

#home {
    display: flex;
    justify-content: center;
    background-color: #8E8268;
    height: 100vh;
    background-image: url(images/retina-wood.png);
}

#bio {
    display: flex;
    justify-content: space-between;
    background-color: #AAA0A0;
    height: 100vh;
    background-image: url(images/retina-wood.png);
}

#aero {
    display: flex;
    justify-content: space-between;
    background-color: #86B3D1;
    height: 100vh;
    background-image: url(images/retina-wood.png);
}

#wood {
    display: flex;
    justify-content: space-between;
    background-color: #844D36;
    height: 100vh;
    background-image: url(images/retina-wood.png);
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #8E8268;
    height: 100vh;
    background-image: url(images/retina-wood.png);
}

#restoration {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #AAA0A0;
    height: 100vh;
    background-image: url(images/retina-wood.png);
}

.first-picture:hover .overlay {
    height: 384px;
    width: 514px;
    left: 8.0vw;
    bottom: 4px;
}

.second-picture:hover .overlay {
    height: 384px;
    width: 513px;
    left: 57.5vw;
    bottom: 4px;
}

.fas {
    opacity: .50;
}